<h2>Visitor App Part - 2</h2>

<oj-table id="visitorTable" data="[[dataProvider]]" columns='[
    {"headerText": "ID", "field": "visitorId"},
    {"headerText": "Name", "field": "visitorName"},
    {"headerText": "Purpose", "field": "purpose"},
    {"headerText": "Mobile", "field": "mobileNumber"}
  ]'>
</oj-table>


<oj-button on-oj-action="[[function() { document.getElementById('addDialog').open(); }]]">
  Add Visitor
</oj-button>

<!-- Add Dialog -->
<oj-dialog id="addDialog" dialog-title="Add Visitor">
  <div slot="body">
    <oj-form-layout>
      <oj-input-text value="{{visitorId}}" label-hint="Visitor Id"></oj-input-text>
      <oj-input-text value="{{visitorName}}" label-hint="Visitor Name"></oj-input-text>
      <oj-input-text value="{{purpose}}" label-hint="Purpose"></oj-input-text>
      <oj-input-text value="{{mobileNumber}}" label-hint="Mobile Number"></oj-input-text>
    </oj-form-layout>
  </div>
  <div slot="footer">
    <oj-button on-oj-action="[[addVisitor]]">Save</oj-button>
    <oj-button on-oj-action="[[function(){ document.getElementById('addDialog').close(); }]]">Cancel</oj-button>
  </div>
</oj-dialog>
